.user-auth.container
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .panel.panel-default.text-center
      .panel-heading
        = link_to root_path do
          %span.cenit-logo
            =image_tag 'logo_cenitsaas_web.png'
          %span.cenit-hub{style: 'color: black;'}= 'any BROKER'

      .panel-body
        .form-top
          = t('admin.confirmation.resend')
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          .text-danger
            = devise_error_messages!
          .field.text-justify
            = f.label :email
            = f.email_field :email_view, value: resource_class.current.email, class: 'form-control', disabled: true
            = f.email_field :email, value: resource_class.current.email, hidden: true
          .actions
            %button.btn.btn-primary.pull-right{type:'submit'}
              = t('admin.confirmation.resend')
      .panel-footer.clearfix
        .pull-left