#loading.label.label-warning
  = t('admin.loading')
<!-- WRAPPER -->
#wrapper.wrapper
  <!-- TOP BAR -->
  %nav.navbar.top-bar.navbar-fixed-top
    =render 'layouts/rails_admin/navigation'
  <!-- LEFT SIDEBAR -->
  #left-sidebar.left-sidebar.minified
    .sidebar-minified.js-toggle-minified
      %i.fa.fa-exchange
    .sidebar-scroll
      %nav.main-nav
        = subdomains_left_side_menu
    .social-links-at-menu.absolute
      #os-love
        %span= 'We'
        %i.fa.fa-heart-o{ title: 'We love Open Source'}
        %span= 'Open Source'
      %br
      %iframe.col-sm-6{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=broker.contafact.pe&repo=cenit&type=star&count=true", :width => "170px"}
      %iframe.col-sm-6{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=broker.contafact.pe&repo=cenit&type=fork&count=true", :width => "170px"}
      %script{:async => "", :defer => "defer", :src => "https://buttons.github.io/buttons.js"}
  <!-- MAIN CONTENT WRAPPER -->
  #main-content-wrapper.content-wrapper.expanded
    - if Cenit.hide_admin_navigation
      .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
    - else
      - group = dashboard_group
      #content-wrapper
        %aside
          #subdomain-sidebar.related-sidebar
            .widget
              .widget-header
                -if group
                  = link_to "/#{@dashboard_group_ref}/dashboard", class: 'pjax' do
                    %h3
                      %i{class: "fa #{group[:icon]}"}
                      = group[:label]
                -else
                  = link_to dashboard_path, class: 'pjax' do
                    %h3
                      %i{class: 'fa fa-tachometer'}
                      = 'Dashboard'
                .btn-group.widget-header-toolbar
                  %a{ href: "#", title: "Focus", class: "btn-borderless sidebar-minified js-related-toggle-minified", id:'toggle-subdomain-menu'}
              %nav.main-nav
                %ul.subdomain-menu
                  = main_navigation
        %main
          - if @action.is_a?(RailsAdmin::Config::Actions::Notebooks)
            .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax_notebooks'
          -else
            .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'
- tour = User.current.present? && TourTrack.show_tour?(request.remote_ip, User.current)
:javascript
  var doStartTour = #{tour};
