.container-fluid
  .navbar-header
    %button.navbar-toggle.toogle.visible-xs#secondary-nav-xs{ type: 'button', data: { toggle: 'collapse', target: '#secondary-navigation-xs' } }
      %span.sr-only= t('admin.toggle_navigation')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %button.navbar-toggle.toogle.visible-xs#model-nav-xs{ type: 'button', data: { toggle: 'collapse', target: '#models-navigation-xs' } }
      %span.icon-chevron-down
    = link_to dashboard_path, class: "navbar-brand" do
      %span.cenit-logo
        =image_tag 'cenit-logo.png'
      %span.cenit-hub
        = "any BROKER"
    - group = dashboard_root_group
    #subdomain-toggle.hidden-xs
      %span.subdomain_link
        %i.fa.fa-chevron-down{style: 'color: white;'}
  .collapse.navbar-collapse#secondary-navigation.hidden-xs
    = render(partial: 'cenit/home/secondary_navigation') rescue nil
  .collapse.navbar-collapse#secondary-navigation-xs.xs-menu
    = render(partial: 'cenit/home/mobile/secondary_nav_xs') rescue nil
  .collapse.navbar-collapse#models-navigation-xs.xs-menu
    = dashboard_primary_xs
  #subdomain-panel.collapsed
    = dashboard_primary
