%html{lang: I18n.locale}
  %head
    %meta{content: "IE=edge", 'http-equiv' => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
    %meta{name: "description", content: 'iPaaS - any BROKER has been designed to orchestrate data flows that may involve several APIs. It makes possible the automation of all operational processes in a company, connecting between on-premises infrastructure and cloud services.'}
    %title= 'any BROKER | Open Platform for Data and Business Integration (iPaaS)'
    = csrf_meta_tag
    = stylesheet_link_tag 'rails_admin/rails_admin.css', media: :all
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init('#{I18n.locale}', JSON.parse("#{j I18n.t('admin.js').to_json}"));

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create',"#{ENV['GOOGLE_ANALYTIC_ID']}", 'auto');
      ga('send', 'pageview');
  - dashboard_root =  @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?
  - if (dashboard_root) &&  current_user.nil?
    %body#home_page
      = render(partial: 'cenit/home/home') rescue nil
  -else
    %body.topnav-fixed.rails_admin
      = render 'layouts/rails_admin/default_layout'
  = render partial: 'contact_us'
  = javascript_include_tag 'rails_admin/rails_admin.js'
  = yield :script
  - if TourTrack.show_tour?(request.remote_ip, User.current)
    :javascript
      initializeTour();
