- dashboard_root =  @action.is_a?(RailsAdmin::Config::Actions::Dashboard) && params[:group].blank?

%html{lang: I18n.locale}
  %head
    %meta{content: "IE=edge", 'http-equiv' => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
    %meta{name: "description", content: 'iPaaS - any BROKER has been designed to orchestrate data flows that may involve several APIs. It makes possible the automation of all operational processes in a company, connecting between on-premises infrastructure and cloud services.'}
    %title= 'any BROKER | Open Platform for Data and Business Integration (iPaaS)'
    = csrf_meta_tag
    - Cenit.options.keys.grep(/js:source\Z/).each do |source_key|
      %script{src: Cenit[source_key]}
    = stylesheet_link_tag 'rails_admin/rails_admin.css', media: :all
    = javascript_include_tag 'rails_admin/sync.js'
    - if dashboard_root
      = render "layouts/rails_admin/async_javascript", path: "rails_admin/rails_admin.js"
    - else
      = javascript_include_tag 'rails_admin/rails_admin.js'
      = javascript_include_tag 'rails_admin/custom/admin.js'
      :javascript
        RailsAdmin.I18n.init('#{I18n.locale}', JSON.parse("#{j I18n.t('admin.js').to_json}"));
    = yield :script
    -# Initialize JS simple i18n
    - if ENV['GOOGLE_ANALYTIC_ID'].present?
      = render partial: 'layouts/rails_admin/google_analytic'
  - if (dashboard_root) &&  current_user.nil?
    %body#home_page
      = render(partial: 'cenit/home/home') rescue nil
  -else
    %body.topnav-fixed.rails_admin
      = render partial: 'layouts/rails_admin/default_layout'
      = yield :html_templates
  = render partial: 'contact_us'
