.user-auth.container
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .panel.panel-default.text-center
      .panel-heading
        = link_to root_path do
          %span.cenit-logo
            =image_tag 'logo_cenitsaas_web.png'
          %span.cenit-hub{style: 'color: black;'}= 'any BROKER'

      .panel-body
        .form-top
          = t('admin.forgotten.edit_title')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          .field.text-justify
            = f.label :password, "New password"
            - if @minimum_password_length
              %em= "#{@minimum_password_length} characters minimum"
            = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
          .actions
            %button.btn.btn-primary.pull-right{type:'submit'}
              = t('admin.forgotten.edit_submit')
      .panel-footer.clearfix
        .pull-left
          = render "devise/shared/links"


