.user-auth.container
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .panel.panel-default.text-center
      .panel-heading
        = link_to root_path do
          %span.cenit-logo
            =image_tag 'logo_cenitsaas_web.png'
          %span.cenit-hub{style: 'color: black;'}= 'any BROKER'

      .panel-body
        .form-top
          = t('admin.forgotten.new_title')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .text-danger
            = devise_error_messages!
          .field.text-justify
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          .actions
            %button.btn.btn-primary.pull-right{type:'submit'}
              = t('admin.forgotten.new_submit')
      .panel-footer.clearfix
        .pull-left
          = render "devise/shared/links"