@import "bootstrap/bootstrap-tour.min";
@import "rails_admin/custom/github";
@import "rails_admin/custom/select2.min";
@import "rails_admin/custom/select2-bootstrap.min";
@import "rails_admin/custom/swagger";
@import "rails_admin/custom/notebooks";
@import "rails_admin/custom/rest-api";
@import "rails_admin/custom/highlight-dracula";
@import "rails_admin/custom/foreign-notification";
@import "rails_admin/custom/flexslider";
@import "cenit/home/home";
@import "rails_admin/custom/dashboard/dashboard";
@import "rails_admin/custom/main";
@import "horsey";

body.rails_admin {
  padding-top: 0;
  .sidebar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .form-horizontal.denser fieldset {
    margin-bottom: 30px;
  }
  table {
    font-size: 13px;
  }
}

/*Theming variables*/

$link_color: rgb(66, 139, 202);

h3, .h3 {
  .nav-caption {
    font-size: 18px;
  }
}

.navbar-brand img {
  max-height: 100%;
  width: auto;
  padding-bottom: 4px;
}

.navbar-btn {
  margin-top: 6px;
  margin-bottom: 0;
}

ul#main-accordion {
  z-index: -2;
  .social-links {
    z-index: -1;
  }
}

.navbar-fixed-top .container-fluid {
  background: #3D4046;
}

#secondary-navigation .navbar-right {
  padding-left: 24px;
}

#tenant-nav li.dropdown a.dropdown-toggle,
#help-nav li.dropdown a.dropdown-toggle,
#user-nav li.dropdown a.dropdown-toggle {
  color: white;
}

#tenant-nav > li.dropdown.open > a,
#help-nav > li.dropdown.open > a,
#user-nav > li.dropdown.open > a {
  color: #3D4046;
}

a#sign-in-link, a#sign-out-link {
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0;
  background-color: #ea7400;
}

ul.root_links li a i {
  color: white;
}

a#sign-in-link:hover, a#sign-out-link:hover {
  border-color: #ea7400;
  transition: .5s;
}

#tenant-nav .dropdown-menu,
#help-nav .dropdown-menu,
#user-nav .dropdown-menu {
  min-width: calc(100% + 4px);
}

#tenant-nav > li.dropdown.open > a,
#help-nav > li.dropdown.open > a,
#user-nav > li.dropdown.open > a {
  background-color: white;
  border-right: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#tenant-nav > li.dropdown.open > a:after,
#help-nav > li.dropdown.open > a:after,
#user-nav > li.dropdown.open > a:after {
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 6px;
  right: 0;
  bottom: -3px;
  z-index: 1001;
  background-color: white;
}

#tenant-menu,
#help-menu,
#user-menu {
  padding: 12px;
}

#tenant-menu .edit_user_root_link img,
#help-menu .edit_user_root_link img,
#user-menu .edit_user_root_link img {
  position: inherit;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

#tenant-menu > li > a,
#help-menu > li > a,
#user-menu > li > a {
  padding: 3px;
}

.toggle-btn {
  color: white !important;
  background-color: transparent;
  padding: 2px 0 0;
  border-color: transparent;
  font-size: 24px;
  line-height: 100%;
  transition: all .1s ease-in-out;
  width: 40px;
}

.toggle-btn:active,
.toggle-btn:focus,
.toggle-btn:hover,
.toggle-btn:active:focus {
  outline: none;
  box-shadow: none;
}

.toggle-btn:hover {
  color: white !important;
  border-color: transparent;
  background-color: transparent;
  font-size: 28px;
  padding-top: 0;
}

#drawer-toggle i.fa,
#sidebar-toggle i.fa {
  //transition: all 0.5s ease;
}

#sidebar-toggle.toggled i.fa {
  //transform: rotate(0deg);
}

/* Search form styles */

#navbar-search input {
  transition: all .3s ease-in-out;
  height: 40px;
  margin-top: 7px;
  padding: 0;
  width: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: white;
}

#navbar-search.open input {
  width: 150px;
  padding: 6px;
  border-bottom: solid 2px white;
}

#navbar-search #search-toggle {
  margin: 0;
}

/* Nav Drawer styles*/

ul.drawer {
  display: block;
  position: fixed;
  top: calc(100% + 1px);
  left: 100%;
  width: 250px;
  height: calc(100vh - 100%);
  background-color: #3D4046;
  transition: all .5s ease-in-out;
  padding: 6px;
  margin: 0;
}

ul.drawer #sign-links,
ul.drawer #nav-links {
  overflow-y: auto;
  margin-bottom: 100px;
  height: calc(100% - 100px);
}

ul.drawer.open {
  transform: translateX(-250px);
}

ul.drawer li {
  display: block;
  padding: 1em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.75);
}

ul.drawer li.last {
  border-bottom: none;
}

ul.drawer li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

ul.drawer li a span {
  padding-left: 1em;
}

.social-links.absolute {
  position: absolute;
  width: calc(100% - 12px);
  bottom: 20px;
  background-color: #3D4046;
}

.social-links a {
  display: inline-block;
  font-size: 24px !important;
  line-height: 32px;
  color: white;
}

/* Toggle styles*/

#wrapper {
  padding-left: 40px;
  transition: all 0.5s ease;
  position: relative;
  background: #3d4046;
  padding-top: 50px;
  height: 100vh;
  overflow: hidden;
}

#wrapper.toggled {
  li.no-childrens {
    span.with_icon {
      padding: 0 30px;
    }
  }
  ul#main-accordion .panel-heading .nav-icon {
    padding: 0 30px;
  }
  .dashboard-heading .nav-icon {
    opacity: 1 !important;
  }
}

.panel-dashboard {
  border: solid 1px rgba(221, 221, 221, 0.87);
  border-radius: 4px;
  margin-bottom: 5px !important;
  .dashboard-heading {
    padding: 10px 0 !important;
    border: 0;
    box-shadow: none;
    width: 100%;
    .nav-icon {
      padding: 0 15px 0 30px;
    }

  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 55px;
  top: 51px;
  height: calc(100% - 50px);
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background: #3d4046 !important;
  border-right: none;
}

#sidebar-wrapper .nav-caret,
#sidebar-wrapper .nav-caption {
  /*  transition: opacity 0.5s ease;

    opacity: 0;*/
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #sidebar-wrapper .nav-caret,
#wrapper.toggled #sidebar-wrapper .nav-caption {
  opacity: 1;
  text-transform: capitalize;
}

#wrapper #sidebar-wrapper:hover {
  // width: 250px;
}

#wrapper #sidebar-wrapper:hover .nav-caret,
#wrapper #sidebar-wrapper:hover .nav-caption {
  opacity: 1;
}

#content-wrapper {
  background: #f9f9f9;
  padding: 0;
  height: calc(100vh - 50px);
  width: 100%;
  aside {
    width: 17.66666667%;
    float: left;
    transition: all 0.3s ease-in-out;
    height: calc(100vh - 50px);
    #toggle-subdomain-menu {
      text-decoration: none;
      padding-top: 0;
      &:after {
        font-family: FontAwesome;
        content: '\f066';
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
    #subdomain-related-menu ul li.no-childrens {
      &.active {
        background: #d9edf7;
        a {
          color: #1D92AF;
          text-decoration: none;
        }
      }
    }
    &.minified {
      width: 40px;
      overflow: visible;
      ul.subdomain-menu {
        overflow: visible;
      }
      #toggle-subdomain-menu:after {
        font-family: FontAwesome;
        content: '\f065';
      }
      #subdomain-related-menu .panel-default .panel-heading a:hover span.nav-caret {
        display: none;
      }
      #subdomain-related-menu .panel-default .panel-heading a span.nav-icon {
        margin-right: 0;
      }

      #subdomain-related-menu ul li.no-childrens span.with_icon {
        margin-right: 0;
      }
      .widget .widget-header h3 {
        transition: all 0.15s ease-in-out;
        opacity: 0;
        height: 0;
      }
    }
  }
}

.content {
  padding: 0 15px 15px;
  background: white;
  overflow-y: scroll;
  border-left: solid 1px lightgray;
  height: calc(100vh - 50px);

  .alert {
    padding: 11px 15px;
    padding: 11px 15px;
    margin: 0;
    margin-bottom: 15px;
    .close {
      position: relative;
      top: -3px;
    }
  }

}

.fixed-brand {
  width: auto;
}

/*Sidebar styles*/

.sidebar-nav {
  position: absolute !important;
  width: 250px;
  padding: 0;
  list-style: none;
  overflow-y: auto !important;
  margin-bottom: 84px;
}

@media screen and (max-width: 280px) {
  .navbar-brand span.cenit-hub {
    display: none;
  }
}

.navbar-header {
  .cenit-logo {
    display: inline-block;
    position: relative;
    top: -4px;
    img {
      height: 30px;
    }
  }

  .cenit-hub {
    color: white;
    font-size: 24px;

    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    top: 1px;
  }
}

span.subdomain_link {
  color: white;
  font-size: 18px;
  padding-right: 5px;
  line-height: 20px;
  i {
    font-size: 14px;
    margin-left: 5px;
  }
}

div#subdomain-toggle {
  cursor: pointer;
  float: left;
  padding: 15px 0 14px 5px;

  i.fa {
    //transition: all 0.5s ease;
  }

  &.toggled i.fa {
    transform: rotate(180deg);
  }
}

.dashboard-heading {
  padding: 10px 0 !important;
}

@media screen and (min-width: 768px) {
  .navbar-header {
    width: 350px;
    padding: 0 6px;
  }
}

ul#main-accordion {
  padding: 6px;
  background: #3d4046;
  > li.no-childrens {
    a {
      &.active {
        background-color: #d9edf7 !important;
        color: #31708f !important;
      }
    }
  }
}

.panel-heading {
  padding: 0;
}

.panel-heading > a {
  padding: 10px 0;
}

ul#main-accordion a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  color: white;
}

ul#main-accordion .panel {
  border: 0;
  box-shadow: none;
  width: 100%;
}

ul#main-accordion > .panel > .panel-heading {
  border: solid 1px rgba(221, 221, 221, 0.87);
  border-radius: 4px;
}

ul#main-accordion > .panel .panel .panel-heading {
  background-color: rgba(61, 64, 70, .9);
}

ul#main-accordion > .panel.active > .panel-heading {
  background-color: #d9edf7 !important;
  border-color: #bce8f1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

ul#main-accordion > .panel.active > .panel-heading {
  a {
    color: #31708f !important;
  }
  &.dashboard-heading {
    a {
      color: black !important;
    }
  }
}

ul#main-accordion .panel.active {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion > .panel.active .panel.active > .panel-heading {
  background-color: transparent;
}

ul#main-accordion a:hover,
ul#main-accordion a:focus,
ul#main-accordion a:active,
ul#main-accordion li.active > a {
  text-decoration: none;
}

ul#main-accordion div > a:hover,
ul#main-accordion li > a:hover,
ul#main-accordion li > a:focus,
ul#main-accordion li > a:active,
ul#main-accordion li.active > a {
  background-color: rgba(0, 0, 0, 0.065);
}

ul#main-accordion > .panel > .panel-collapse a,
ul#main-accordion > .panel > .panel-collapse > .panel > .panel-heading a {
  padding-left: 2rem;
}

ul#main-accordion > .panel > .panel-collapse > .panel li > a {
  padding-left: 4rem;
}

ul#main-accordion .nav-caret {
  float: right;
  margin-left: 1rem;
  margin-right: 12px;
}

ul#main-accordion .nav-amount {
  float: right;
  margin-left: 1rem;
  line-height: 1;

  border-radius: 4px;

  color: #31708f !important;
  font-weight: bold;
  font-size: 10.5px;
  margin-top: 4px;
  &.active {
    padding: 1px 4px;
    background-color: #d9edf7 !important;
    border: solid 1px #bce8f1;

  }
  .fa {
    color: #d9edf7;
  }
}

ul#main-accordion .nav-caret i {
  //transition: transform 0.3s ease-in-out;
}

ul#main-accordion .panel.active > .panel-heading .nav-caret i {
  //transform: rotate(180deg);
}

ul#main-accordion .panel-heading .nav-icon {
  width: 48px;
  padding: 0 12px;
  display: inline-block;
  text-align: center;
}

.social-links .broker.contafact.pe {
  width: 100%;
}

#sidebar-wrapper .social-links {
  position: absolute;
  bottom: 0;
  background-color: #3d4046;
  width: 100%;
  text-align: center;
  padding: 12px;
}

.related-sidebar {
  #os-love {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    span {
      transition: all .5s ease-in-out .05s;
      visibility: visible;
      opacity: 1;
      max-width: 100%;
    }
    i {
      width: 14px;
    }
  }
  &.minified {
    #os-love span {
      transition: all .5s ease-in-out;
      visibility: collapse;
      opacity: 0;
      max-width: 0;
      display: inline-block;
    }
  }
}

/* Signin Drawer */

.user-auth {
  text-align: center;
  color: #fff;
}

.user-auth .form-top,
.user-auth .form-option {
  font-size: 1.15em;
  line-height: 1.15em;
  position: relative;
  margin: 14px 0;
}

.user-auth .form-option:before,
.user-auth .form-option:after {
  border-top: 1px solid #ffffff;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 45%;
  z-index: 0;
}

.user-auth .form-option:before {
  left: auto;
  right: 0;
}

.user-auth .soc-btn {
  margin: 6px;
  padding: 0;
  width: fit-content;
}

.user-auth .soc-btn {
  color: #ffffff;
  text-align: left;
  outline: 1px;
  border-radius: 0;
  height: 45px;
  width: 145px;
}

.user-auth .soc-btn span {
  padding-top: 10px;
  font-weight: bold;
  color: white;
  flex-grow: 1;
  text-align: center;
}

.user-auth .soc-google {
  background-color: #4285F4;
}

.user-auth .soc-google img {
  height: 100%;
}

.user-auth .soc-facebook {
  background-color: #4267B2;
}

.user-auth .soc-facebook img {
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
}


.user-auth .soc-github {
  background-color: #010101;
}

.user-auth .soc-github img {
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 8px;
}


.user-auth .soc-twitter {
  background-color: #1bb5e7;
}

.user-auth .field input.form-control {
  padding: 6px;
  outline: none;
  background-color: transparent !important;
  color: #fff !important;
  border: none;
  border-bottom: solid 2px #ffffff;
  border-radius: 0;
}

.user-auth .field input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #3d4046 inset;
  -webkit-text-fill-color: white !important;
}

.user-auth .local-forms {
  position: relative;
  overflow: hidden;
  height: 280px;
}

.g-recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0
}

.user-auth form.local {
  width: 100%;
  transition: all .3s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.user-auth form.local.active {
  transform: translateY(0);
  visibility: visible;
}

.user-auth .field {
  padding: 0 12px 8px;
}

.user-auth .field input.form-control:focus {
  box-shadow: 0 0 0 1000px #3d4046 inset;
}

.user-auth .actions .btn-xs {
  margin-top: 6px;
  color: white;
}

.user-auth .actions .btn-xs:hover {
  color: white;
  text-decoration: underline;
}

.user-auth .terms {
  margin: 8px;
}

.user-auth .terms a {
  color: white;
}

/* Dashboard overview*/
.blocks {
  margin-bottom: 10px;
}

.blocks .block {
  border-radius: 1px;
  padding: 0 10px;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.blocks .block:hover {
  border-color: #94c3ea;
}

.block .icon,
.block .caption {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.block .icon i {
  font-size: 32px;
  color: #31708f;
}

@media (min-width: 768px) and (max-width: 999px) {
  .tenants {
    display: none;
  }
  .block .icon {
    display: none;
  }
}

.block .caption h4 {
  margin-bottom: 2px;
}

.block .caption h6 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 14px;
  color: #777;
}

// Grid styles ... from APIGuru
#grid-wrapper {

  .panel {
    position: relative;
  }
  .panel-owner {

    float: left;
    width: 100%;
  }

  .options-menu {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 4px;
  }
  .options-menu:hover {
    padding-left: 32px;
  }
  .options-menu > span {
    padding: 5px;
    color: #333333;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .options-menu:hover > span {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-bottom: none;
  }

  .options-menu:hover > span:after {
    display: block;
    background-color: #ffffff;
    content: ' ';
    position: absolute;
    width: calc(100% - 34px);
    height: 6px;
    right: 1px;
    bottom: -1px;
    z-index: 1001;
  }

  .options-menu.open > span {
    background-color: rgba(0, 0, 0, 0.24);
    border: solid 1px rgba(0, 0, 0, 0.15);
  }

  .options-menu .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    margin-top: 0 !important;
    border-top-right-radius: 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    display: block !important;
    overflow: hidden;
    transform: translateY(-5%);
    opacity: 0;
    height: 0;
    border-top: none;
  }

  .options-menu:hover .dropdown-menu {
    transform: none;
    opacity: 1;
    height: auto;
    border-top: solid 1px rgba(0, 0, 0, 0.15);
  }
  .options-menu .dropdown-menu a {
    color: $link_color;
  }

  .panel-heading {
    padding: 10px 25px 10px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
  }

  .panel-body-logo {
    height: 100px;
    vertical-align: middle;
    line-height: 90px;
    padding: 5px;
  }

  img.logo {
    background-color: transparent;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }

  .panel-body-description {
    margin-top: 15px;
  }

  .line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }

  .line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
  }

  .footer-description {
    font-size: 0.8em;
    margin-bottom: 0.1em;
    color: #a2a2a2;
    ul {
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      padding: 0;
      list-style-type: none;
      li {
        display: inline;
        a {

        }
        &:not(:last-child) {
          &:after {
            content: ', ';
          }
        }

      }
    }
    .versions {
      overflow: auto;
      margin-top: 10px;
      font-size: 1.4rem;
      .pull-count {
        color: black;
      }
      .version {
        padding-left: 0;
        padding-right: 0;
        font-size: .9em;
        line-height: 1.8em;
        text-align: right;
        color: gray;
      }
    }

  }

  .versions > span {
    display: inline-block;
    vertical-align: middle;
  }

  .truncate {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  .truncate a {
    display: inline-block;
  }
}

.dashboard .nav-icon {
  width: 48px;
  padding: 0 12px;
  text-align: center;
}

/*
 * Custom RailsAdmin styles
 ****************************/

#setup_scheduler_expression_field .inlined {
  display: inline-block !important;
  width: auto !important;
}

#setup_scheduler_expression_field #appointed #number a.btn {
  width: 56px;
}

#setup_scheduler_expression_field #appointed #number .scheduler-opts {
  padding-bottom: 6px;
}

#setup_scheduler_expression_field .label.top {
  color: #000;
  margin-top: 12px;
  max-width: 100%;
  position: relative;
  display: block;
  text-align: left;
}

#setup_scheduler_expression_field .scheduler_repeat {
  margin-top: 12px;
}

#setup_scheduler_expression_field.label.top .right {
  position: absolute;
  right: 15px;
}

#setup_scheduler_expression_field .scheduler-opts a.btn {
  transition: all .3s ease-in-out;
}

#hours_at .btn-group .btn {
  width: 36px;
  text-align: center;
}

#setup_scheduler_expression_field .btn-group .btn.day_in_month {
  min-width: 48px;
  text-align: center;
}

#setup_scheduler_expression_field .scheduler_repeat {
  margin-bottom: 12px;
}

#setup_scheduler_expression_field .scheduler_repeat .clearfix.bottom {
  padding-top: 6px;
}

#setup_scheduler_expression_field.selected-0 .visible-1,
#setup_scheduler_expression_field.selected-0 .visible-2,
#setup_scheduler_expression_field.selected-0 .visible-3,
#setup_scheduler_expression_field.selected-0 .visible-4,
#setup_scheduler_expression_field.selected-0 .visible-5,
#setup_scheduler_expression_field.selected-1 .visible-2,
#setup_scheduler_expression_field.selected-1 .visible-3,
#setup_scheduler_expression_field.selected-1 .visible-4,
#setup_scheduler_expression_field.selected-1 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-2 .visible-1,
#setup_scheduler_expression_field.selected-2 .visible-3,
#setup_scheduler_expression_field.selected-2 .visible-4,
#setup_scheduler_expression_field.selected-2 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-3 .visible-1,
#setup_scheduler_expression_field.selected-3 .visible-4,
#setup_scheduler_expression_field.selected-3 .visible-5 {
  display: none;
  visibility: collapse;
}

#setup_scheduler_expression_field.selected-4 .visible-1,
#setup_scheduler_expression_field.selected-4 .visible-5 {
  display: none;
  visibility: collapse;
}

//#setup_scheduler_expression_field.selected-5 .visible-1,
//#setup_scheduler_expression_field.selected-5 .visible-2,
//#setup_scheduler_expression_field.selected-5 .visible-3,
//#setup_scheduler_expression_field.selected-5 .visible-4 {
//  display: none;
//  visibility: collapse;
//}

#setup_scheduler_expression_field.selected-0 .hidden-0 {
  display: none;
  visibility: collapse;
}

.toggle-origin {
  border: none;
  background-color: transparent;
}

.toggle-origin:focus, .toggle-origin:active:focus, .toggle-origin.active:focus {
  outline: none;
}

#action-notify, #action-auth {
  .counters-links {
    padding: 15px 8px 11px 8px;
    display: inline-block;
    .counter {
      border-radius: 500px;
      top: -10px;
      min-width: 4px;
      min-height: 4px;
      display: inline-block;
      padding: 5px 8px;
      font-weight: bold;

      &.green {
        background-color: green;
      }
      &.blue {
        background-color: blue;
      }
      &.orange {
        background-color: orange;
      }
      &.red {
        background-color: red;
      }
    }
    &:hover {
      background: #5f6267;
    }
  }
}

#actions-menu-list {
  .progress {
    margin-bottom: 0;
    float: left;
    width: 95%;
  }
  #links {
    float: right;
    top: -2px;
    > span {
      padding: 3px 8px;
      color: #333333;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      position: absolute;
      right: 0;
      i {
        margin: auto;
      }
    }
    &.options-menu {
      position: relative;
      overflow: visible;
      .dropdown-menu {
        right: 0 !important;
        left: auto !important;
        margin-top: 0 !important;
        border-top-right-radius: 0;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        display: block !important;
        overflow: hidden;
        transform: translateY(-5%);
        opacity: 0;
        height: 0;
        border-top: none;
        top: 26px;
      }
      &.open {
        > span {
          border-color: rgba(0, 0, 0, 0.15);
          background-color: #ffffff;
          border-bottom: none;
          z-index: 1002;
          &:after {
            display: block;
            background-color: #ffffff;
            content: ' ';
            position: absolute;
            width: calc(100% - 34px);
            height: 6px;
            right: 1px;
            bottom: -1px;
            z-index: 1001;
          }
        }
        .dropdown-menu {
          transform: none;
          opacity: 1;
          height: auto;
          border-top: solid 1px rgba(0, 0, 0, 0.15);
          margin-bottom: 25px;
          z-index: 1001;
          ul li {
            list-style-type: none;
          }
          a {
            color: $link_color;
          }
        }
      }
    }
  }
}

.wizard {
  li {
    padding: 15px;
    &.next {
      padding: 0;
      color: #3d4046;
      i {
        top: 10px;
        position: relative;
      }
    }
    &.done {
      color: black;
      font-weight: bold;
    }
    &.active {
      color: #5bc0de;
      font-weight: bold;
    }
    &.pending {
      color: gray;
    }
  }
  h6 {
    padding-left: 15px;
    margin-top: 30px;
    display: block;
  }

}

.filter_by_token > span span {
  padding-left: 3px;
}

#actions-menu-list {
  overflow: visible;
  width: 40px;
}

ul#more_actions a {
  color: $link_color;
}

.select2-container--bootstrap {
  width: 50% !important;
}

.select2-container--open .select2-dropdown--above {
  left: 0;
}

.tag {
  overflow: auto;
  span {
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
  }
}

.filters-buttons {
  overflow: visible;
  float: right;
  span {
    margin-left: 19px;
  }
  .dropdown {
    list-style-type: none;
    margin-left: 15px;
  }
}

#save_filters_button span {
  margin-left: 5px;
}

#list {
  .CodeMirror {
    height: auto;
  }
}

/*Origin toggles colors and table cell origin colors*/

$owner_color: #474dff; // 71,77,255
$owner_odd_color: rgba(71, 77, 255, .5);
$owner_even_color: rgba(91, 192, 222, .25);

$shared_color: #2b8050; // 43,128,80
$shared_odd_color: rgba(43, 128, 80, .5);
$shared_even_color: rgba(43, 128, 80, .25);

$cenit_color: darkorange; //255,140,0
$cenit_odd_color: rgba(255, 140, 0, .5);
$cenit_even_color: rgba(255, 140, 0, .25);

$admin_color: navy; // 0,0,128
$admin_odd_color: rgba(0, 0, 128, .5);
$admin_even_color: rgba(0, 0, 128, .25);

$tmp_color: #d9534f; //217,83,79
$temp_odd_color: rgba(217, 83, 69, .5);
$temp_even_color: rgba(217, 83, 69, 0.25);

.table-striped > tbody > tr.owner > td:first-child {
  background: $owner_odd_color;
}

.table-striped > tbody > tr.shared > td:first-child {
  background: $shared_odd_color;
}

.table-striped > tbody > tr.cenit > td:first-child {
  background: $cenit_odd_color
}

.table-striped > tbody > tr.tmp > td:first-child {
  background: $temp_odd_color
}

.table-striped > tbody > tr.admin > td:first-child {
  background: $admin_odd_color
}

.toggle-origin {
  &.owner {
    color: $owner_color;
  }
  &.shared {
    color: $shared_color;
  }
  &.admin {
    color: $admin_color;
  }
  &.cenit {
    color: $cenit_color;
  }
  &.tmp {
    color: $tmp_color;
  }
}

label {
  &.owner {
    color: $owner_color;
  }
  &.shared {
    color: $shared_color;
  }
  &.admin {
    color: $admin_color;
  }
  &.cenit {
    color: $cenit_color;
  }
  &.tmp {
    color: $tmp_color;
  }
}

.panel-shared {
  border-color: $shared_odd_color;
  > .panel-heading {
    background-color: $shared_even_color;
  }
}

.panel-owner {
  border-color: $owner_odd_color;
  > .panel-heading {
    background-color: $owner_even_color;
  }
}

.tenants {
  max-height: 380px;
  overflow-y: auto;
  li {
    margin: 3px 0;
    padding: 3px;
    &:hover {
      background: whitesmoke;
    }
    a {
      color: black;
      text-decoration: none;

    }
  }
}

#search_tenant {
  margin-bottom: 10px;
}

#collections {
  padding-left: 0;
  margin-top: 25px;
  .collection {
    .pic {
      display: inline-block;
      padding: 15px;
      background: #f5f5f5;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45), inset 0px 0px 1px 1px white;
      width: 100%;
      height: 102px;
      margin-top: 12px;
      border: 1px solid transparent;
      i {
        margin: auto;
        font-size: 18px;
        color: rgb(49, 112, 143);
      }
      img {
        width: 80%;
        max-height: 100%;
        margin: auto;
        &.no-image {
        }
      }
    }
  }
  a {
    &:hover {
      .pic {
        border: 1px solid rgb(148, 195, 234);
      }
    }
  }
}

// for graphics
.g-container {
  max-height: 485px;
  transition: all 0.5s ease;
  &.closed {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease;
  }
}

.graphics-area {
  margin: 25px 0;
}

.graphics-controls {
  padding: 15px;

}

.graphics-chart {
  overflow: scroll;
}

.btn .caret {
  margin-left: 2px;
}

.open > .dropdown-menu {
  display: block;
  z-index: 1002;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-vert {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.cenit-oauth-basic-scope .basics-scopes {
  min-width: 234px;
}

.cenit-oauth-scope, .cenit-oauth-basic-scope, .model-tr {
  .select2-container--bootstrap {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .input-group {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .btn-danger {
    margin-left: 15px;
  }
  th {
    padding-bottom: 10px;
    color: #737373;
  }
  td {
    vertical-align: top;
  }
  .data-type-link {
    width: 178px;
    padding-top: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 15px;
  }
  hr {
    margin-top: 7px;
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: black;
    text-transform: uppercase;
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="read"] {
    color: white;
    background: $label-success-bg;
    border-color: $label-success-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="create"] {
    color: white;
    background: $label-info-bg;
    border-color: $label-info-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="delete"] {
    color: white;
    background: $label-danger-bg;
    border-color: $label-danger-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="update"] {
    color: white;
    background: $label-warning-bg;
    border-color: $label-warning-bg;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
  .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice[title="digest"] {
    color: white;
    background: rebeccapurple;
    border-color: rebeccapurple;
    .select2-selection__choice__remove {
      color: white;
      color: #fff;
    }
  }
}

.scope_at_index {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &:not(:last-child) {
        &:after {
          content: ', ';
          margin-right: 5px;
        }
      }
    }
  }
}

.scope-description li i {
  margin-left: 5px;
}

.api-info {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  border: solid 1px #e3e3e3;
  div {
    word-wrap: break-word;
  }
  a {
    cursor: pointer;
  }
  .contact, .term-of-service, .license {
    a {
      white-space: normal;
    }
  }

}

.swagger-toolbar {
  margin: 15px -5px;
}

.api-details {
  h3 {
    max-width: 85%;
    margin-top: 0;
    span {
      color: gray;
    }
  }
  h5 {
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
    color: gray;
    span {
      font-weight: bold;;
    }
  }
  .categories-toolbar {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.contextual-record {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  text-decoration: none !important;

  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;

    &:after {
      font-family: FontAwesome;
      content: "\f00d";
      margin-left: 10px;
    }
  }
}

p.filter.form-search {
  position: relative;
}

.label-info a {
  color: white;
  text-decoration: none;
}

.api_guru_logo {
  span {
    color: black;
  }
  img {
    height: 39px;
    margin-left: 5px;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
  }
}

#primary_dashboard {
  float: left;
  width: 100%;
  margin: 25px 0;
  ul {
    list-style-type: none;
    margin-bottom: 25px;
    li {
      a {
        cursor: pointer;
        color: black;
        text-decoration: none;
        line-height: 1.7;
        text-transform: capitalize;

        &:hover {
          color: $cenit_color;
        }
        &[target="_blank"]:after {
          content: '\F08E'; // fa-external-link
          font-family: FontAwesome;
          margin-left: 5px;
        }
      }
      &:first-child {
        a {
          font-size: 1.2em;
          color: #428bca;
          line-height: 2.2;
          white-space: nowrap;
          i {
            padding-right: 15px;
            font-size: 1.3em;
            margin-left: -38px;
          }
          &:hover {
            color: $cenit_color;
          }
        }
      }
    }
  }

}

#root-wrapper {
  margin-top: 25px;
  margin-bottom: 60px;
  @media(min-width: 768px) {
    margin-top: 65px;
  }
  @media(min-width: 992px) {
    margin-top: 25px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  .social-footer {
    padding-top: 20px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

div#subdomain-panel {
  position: absolute;
  background: white;
  padding: 0 25px;
  left: 30px;
  @media(min-width: 1200px) {
    min-width: 678px;
  }
  opacity: 1;
  transition: opacity .3s;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 1000;

  &.collapsed {
    opacity: 0;
    z-index: -1;
    display: none;
  }
  #primary_dashboard {
    margin: 15px 0 0;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

#nav-drawer-toggle {
  i {
    position: relative;
    top: -2px;
  }
  &:hover {
    i {
      position: relative;
      top: -1px;
    }
  }
}

.none {
  display: none;
}

.block {
  display: block;
}

.section .pic {
  display: inline-block;
  padding: 15px;
  background: #f5f5f5;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45), inset 0px 0px 1px 1px white;
  height: 100px;
  width: 100%;
  img {
    margin: auto;
    max-height: 100%;
  }
  [class$='bulb'] {
    height: 100%;
  }
  .cenit-logo {
    @media(min-width: 768px) {
      padding-top: 10%;
    }
  }
}

#main-dashboard {
  section {
    @media(min-width: 768px) {
      padding: 35px 0;
    }

    &:nth-child(odd) {
      background: #f9f9f9;;
      @media(min-width: 768px) {
        background: white;
      }
    }
    &:nth-child(even) {
      background: white;
      @media(min-width: 768px) {
        background: #f9f9f9;
      }
    }

    &#public_apis {
      .header {
        text-align: center;
        p {
          font-size: 16px;
          font-weight: 400;
          color: #888;
        }
      }
      .sections {
        margin-top: 45px;
      }
    }
    &#features {
      .row {
        margin-bottom: 50px;
      }
      .feature {
        img {
          max-width: 40px;
        }
        strong {
          display: block;
          font-weight: 400;
          font-size: 17px;
          color: #354E75;
          margin-top: 15px;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          color: #797979;
          margin-top: 10px;
          line-height: 24px;
        }
      }
    }
  }
}

.scheduler_type {
  .label {
    &.top {
      color: #000;
      margin-top: 12px;
      max-width: 100%;
      position: relative;
      display: block;
      text-align: left;

      .right {
        position: absolute;
        right: 15px;
      }
    }
  }
  .inlined {
    display: inline-block !important;
    width: auto !important;
  }
  #appointed #number {
    a.btn {
      width: 56px;
    }
    .scheduler-opts {
      padding-bottom: 6px;
    }
  }
  .scheduler_repeat {
    margin-top: 12px;
    margin-bottom: 12px;
    .clearfix.bottom {
      padding-top: 6px;
    }
  }
  .scheduler-opts a.btn {
    transition: all .3s ease-in-out;
  }
  #hours_at .btn-group {
    .btn {
      width: 36px;
      text-align: center;
      &.day_in_month {
        min-width: 48px;
        text-align: center;
      }
    }
  }
  &.selected-0 {
    .hidden-0,
    .visible-1,
    .visible-2,
    .visible-3,
    .visible-4,
    .visible-5 {
      display: none;
      visibility: collapse;
    }
  }
  &.selected-1 {
    .visible-2,
    .visible-3,
    .visible-4,
    .visible-5 {
      display: none;
      visibility: collapse;
    }
  }
  &.selected-2 {
    .visible-1,
    .visible-3,
    .visible-4,
    .visible-5 {
      display: none;
      visibility: collapse;
    }
  }
  &.selected-3 {
    .visible-1,
    .visible-4,
    .visible-5 {
      display: none;
      visibility: collapse;
    }
  }
  &.selected-4 {
    .visible-1,
    .visible-5 {
      display: none;
      visibility: collapse;
    }
  }
}

.try-integrations {
  margin-top: 10px;
}

.integration_image {
  @media(min-width: 768px) {
    max-width: 80% !important;
  }
  @media(min-width: 1024px) {
    max-width: 100% !important;
  }
  @media(min-width: 1200px) {
    max-width: 90% !important;
  }
}

section#welcome_users {
  display: none;
  @media(min-width: 768px) {
    display: block;
  }
}

#home_content {
  @media(min-width: 992px) {
    margin-top: 50px;
  }
  .alert {
    margin-top: 0;
  }
}

#public_apis {
  .sections {
    .section {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

#prices {
  -webkit-font-smoothing: antialiased;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  background: #5E7A9B !important;
  background: -webkit-linear-gradient(top, #355069 0, #5e7a9b 100%) !important;
  background: -moz-linear-gradient(top, #355069 0, #5e7a9b 100%) !important;
  background: -o-linear-gradient(top, #355069 0, #5e7a9b 100%) !important;
  background: linear-gradient(top, #355069 0, #5e7a9b 100%) !important;
  padding-top: 45px;
  padding-bottom: 70px;
  .header {
    text-align: center;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
    h3 {
      font-size: 29px;
      color: #fff;
      line-height: 25px;
      font-weight: 400;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 29px
      }
    }
    p {
      font-size: 16px;
      margin-top: 15px;
      color: #F0F0F0;
      font-weight: 400;
      line-height: 25px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .charts {
    margin-top: 35px;
    @media (max-width: 991px) {
      margin-top: 10px;
    }
    .chart {
      background-color: #fff;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
      padding: 20px 40px;
      position: relative;
      text-align: center;
      width: 97%;
      min-height: 315px;
      position: relative;
      top: 37px;
      @media (max-width: 991px) {
        float: none !important;
        left: 0px !important;
        top: 0px !important;
        margin: 0 auto;
        margin-bottom: 25px !important;
      }
      @media (max-width: 600px) {
      }
      &.last {
        margin-bottom: 0px !important;
        right: 0;
      }
      &.first {
        float: right;
        left: 0;
      }
      &.featured {
        min-height: 350px;
        top: 0px;
        margin: 0 auto;

        .popular {
          text-align: center;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
          color: #B1B1B1;
          font-weight: 400;
        }
        .quantity {
          margin-top: 15px;
        }
      }
      .quantity {
        text-align: center;
        .dollar {
          font-size: 19px;
          position: relative;
          top: -18px;
        }
        .price {
          font-size: 49px;
        }
        .period {
          font-size: 17px;
          position: relative;
          top: -8px;
          margin-left: 4px;
        }
      }
      .plan-name {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #777;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 8px;
      }
      .specs {
        margin-top: 20px;
        .spec {
          font-size: 15px;
          color: #474747;
          text-align: center;
          font-weight: 300;
          margin-bottom: 13px;
          .variable {
            span {
              color: #1FBEE7;
              font-weight: 400;
            }
          }
        }
      }
      .btn-signup {
        margin-top: 20px;
        height: 38px;
      }
    }
  }
}

#payment_options {
  background: white !important;
  #tabs-option {
    margin-top: 35px;
    -webkit-font-smoothing: antialiased;
    .header {
      text-align: center;
      h3 {
        font-size: 22px;
        color: #444;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 7px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #888;
      }
    }
    .tabs {
      background: #F8F8F8;
      text-align: center;
      border-radius: 3px;
      margin-top: 40px;
      .tab {
        background-color: #F8F8F8;
        font-weight: 500;
        font-size: 15px;
        color: #555;
        display: inline-block;
        padding: 18px 25px;
        margin-top: 10px;
        cursor: pointer;
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        &.anually {
          padding: 18px 18px 18px 23px;
        }
        &.active {
          background-color: #fff;
          border: 1px solid #E8E8E8;
          border-radius: 5px 5px 0px 0px;
          border-bottom: 0px;
        }
        span {
          position: relative;
          top: -2px;
        }
        small {
          color: #32ACDA;
          margin-left: 3px;
        }
      }
    }
    .plans {
      margin-top: 30px;
      border-radius: 5px;
      .plan {
        min-height: 220px;
        border: 1px solid #E3E3E3;
        margin-bottom: 25px;
        margin-right: -1px;
        &.middle {
        }
        &:first-child {
          border-radius: 5px 0 0 0;
        }
        &:last-child {
          border-radius: 0 5px 0 0;
        }
        .header {
          text-align: left;
          padding: 18px 25px;
          border-bottom: 1px solid #E3E3E3;
          margin: 0px -15px;
          font-weight: 500;
          font-size: 15px;
          overflow: auto;
          text-align: center;
          .icon {
            color: #B7C5D8;
            font-size: 18px;
            position: relative;
            top: 2px;
            left: -4px;
          }
          .price {
            float: right;
            color: #3CA2E5;
          }
        }
        .specs {
          margin-top: 25px;
          padding: 0px 10px 17px 10px;
          .spec {
            font-size: 15px;
            color: #666;
            margin-bottom: 13px;
            .variable {
              color: #1FBEE7;
              font-weight: 400;
            }
          }
        }
      }
      &.weekly {
        .header {
          .hidden-weekly {
            display: none;
          }
        }
        .specs {
          .hidden-weekly {
            visibility: hidden;
          }
        }
      }
      &.monthly {
        .header {
          .hidden-monthly {
            display: none;
          }
        }
        .specs {
          .hidden-monthly {
            visibility: hidden;
          }
        }
      }
    }
    .signup {
      margin-top: 40px;
      text-align: center;
      .button {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4abcf3), color-stop(100%, #1a80d9));
        background: -webkit-linear-gradient(#4abcf3, #1a80d9);
        background: -moz-linear-gradient(#4abcf3, #1a80d9);
        background: -o-linear-gradient(#4abcf3, #1a80d9);
        background: linear-gradient(#4abcf3, #1a80d9);
        padding: 15px 38px;
        font-size: 15px;
      }
      .message {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        color: #888;
      }
    }
  }

  #chart-option {
    margin-top: 35px;
    -webkit-font-smoothing: antialiased;
    .divider {
      height: 1px;
      width: 100%;
      background-color: #ddd;
      position: relative;
      margin: 80px 0 40px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
      }
    }
    .header {
      text-align: center;
      h3 {
        font-size: 22px;
        color: #444;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 7px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: #888;
      }
    }
    .chart {
      margin-top: 40px;
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
      .header {
        text-align: center;
        background: #fbfbfb;
        margin: 0px -15px;
        padding: 20px 35px;
        font-weight: 500;
        font-size: 17px;
        color: #444;
        border-bottom: 1px solid #dfdfdf;
        height: 73px;
        @media (max-width: 991px) {
          font-size: 15px;
        }
        @media (max-width: 767px) {
          font-size: 13px;
        }
        .price {
          color: #1a80d9;
          position: relative;
          top: 3px;
          font-size: 14px;
          @media (max-width: 767px) {
            font-size: 13px;
          }
        }
      }
      .features-col {
        .header {
          text-align: left;
          border-radius: 5px 0px 0px 0px;
          margin-bottom: 30px;
          padding: 23px 30px;
          font-size: 18px;
          @media (max-width: 991px) {
            font-size: 16px;
          }
        }
        .spec {
          margin-bottom: 32px;
          padding-left: 40px;
          position: relative;
          .icon {
            position: absolute;
            font-size: 27px;
            color: #849FC4;
            left: 0px;
            top: -4px;
          }
        }
      }
      .plan-col {
        border-left: 1px solid #dfdfdf;
        &.last {
          .header {
            border-radius: 0px 5px 0px 0px;
          }
        }
        .header {
          padding: 13px 0px;
        }
        .spec {
          margin-bottom: 34px;
          margin-top: 25px;
          .check {
            margin: 0 auto;
            display: block;
            max-width: 20px;
          }
        }
        .button {
          margin-top: 20px;
          margin-bottom: 15px;
          font-size: 13px;
          padding: 11px 24px;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4abcf3), color-stop(100%, #1a80d9));
          background: -webkit-linear-gradient(#4abcf3, #1a80d9);
          background: -moz-linear-gradient(#4abcf3, #1a80d9);
          background: -o-linear-gradient(#4abcf3, #1a80d9);
          background: linear-gradient(#4abcf3, #1a80d9);
          @media (max-width: 991px) {
            padding: 6px 10px;
            text-align: center;
          }
        }
      }
    }
    .message p {
      text-align: center;
      font-size: 13px;
      color: #656565;
      margin-top: 30px;
    }
    .faq {
      margin-top: 50px;
      .header h3 {
        font-size: 20px;
        color: #454545;
        text-align: left;
      }
      .questions {
        margin-top: 25px;
        .question {
          margin-bottom: 40px;
          @media (min-width: 992px) {
            width: 90%;
          }
          strong {
            font-weight: 500;
            font-size: 16px;
            color: #454545;
          }
          p {
            color: #555;
            margin-top: 10px;
            font-size: 13px;
            line-height: 22px;
          }
        }
      }
    }
  }

}

.button-clear {
  -webkit-font-smoothing: antialiased;
  border: 0;
  outline: none;
  padding: 1px;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075);
  background: #adb2bb;
  background: -webkit-linear-gradient(#ccd0d6, #adb2bb);
  background: -moz-linear-gradient(#ccd0d6, #adb2bb);
  background: -ms-linear-gradient(#ccd0d6, #adb2bb);
  background: -o-linear-gradient(#ccd0d6, #adb2bb);
  background: linear-gradient(#ccd0d6, #adb2bb);
  span {
    display: block;
    font-size: 14px;
    padding-left: 23px;
    padding-right: 23px;
    height: 36px;
    line-height: 33px;
    border-radius: 4px;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 0 white;
    background: #eff1f4;
    background: -webkit-linear-gradient(#f7f8fa, #eff1f4);
    background: -moz-linear-gradient(#f7f8fa, #eff1f4);
    background: -ms-linear-gradient(#f7f8fa, #eff1f4);
    background: -o-linear-gradient(#f7f8fa, #eff1f4);
    background: linear-gradient(#f7f8fa, #eff1f4);
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    -ms-box-shadow: inset 0 1px 0 white;
    -o-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
  }
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    background: #b5bac2;
    background: -webkit-linear-gradient(#b5bac2, #b5bac2);
    background: -moz-linear-gradient(#b5bac2, #b5bac2);
    background: -ms-linear-gradient(#b5bac2, #b5bac2);
    background: -o-linear-gradient(#b5bac2, #b5bac2);
    background: linear-gradient(#b5bac2, #b5bac2);
    span {
      color: #444;
      background: #eff1f4;
      background: -webkit-linear-gradient(#e6e8eb, #eff1f4);
      background: -moz-linear-gradient(#e6e8eb, #eff1f4);
      background: -ms-linear-gradient(#e6e8eb, #eff1f4);
      background: -o-linear-gradient(#e6e8eb, #eff1f4);
      background: linear-gradient(#e6e8eb, #eff1f4);
      -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &.active {
    background: #b5bac2;
    background: -webkit-linear-gradient(#b5bac2, #b5bac2);
    background: -moz-linear-gradient(#b5bac2, #b5bac2);
    background: -ms-linear-gradient(#b5bac2, #b5bac2);
    background: -o-linear-gradient(#b5bac2, #b5bac2);
    background: linear-gradient(#b5bac2, #b5bac2);
    span {
      color: #444;
      background: #eff1f4;
      background: -webkit-linear-gradient(#e6e8eb, #eff1f4);
      background: -moz-linear-gradient(#e6e8eb, #eff1f4);
      background: -ms-linear-gradient(#e6e8eb, #eff1f4);
      background: -o-linear-gradient(#e6e8eb, #eff1f4);
      background: linear-gradient(#e6e8eb, #eff1f4);
      -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

#wrapper {
  .dashboard-heading a#sidebar-toggle .nav-caret {
    float: left;
    padding-left: 10px;
  }
  &.toggled {
    .dashboard-heading a#sidebar-toggle .nav-caret {
      float: right;
    }
  }
}

.panel-collapse {
  li.no-childrens {
    border: none;
    border-radius: 4px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    span.with_icon {
      padding-left: 0;
      padding-right: 12px;
      width: auto;
    }
  }
}

li.no-childrens {
  border: solid 1px rgba(221, 221, 221, 0.87);
  border-radius: 4px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  .nav-caption {
    margin-left: 0px;
    font-size: 0.9em;
    width: auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
  }
  a {
    padding-left: 0;
  }

  span.with_icon {
    padding: 0 12px;
    width: 48px;
    text-align: center;
  }

}

.nav-stacked {
  .panel {
    .nav-stacked {
      .panel-heading {
        .nav-icon {
          display: none !important;

        }
      }
    }
  }
}

.panel-collapse {
  .nav-icon.plus {
    padding: 0 15px 0 0;
  }
}

.nav-icon.plus {
  padding: 0 15px 0 30px
}

.popover.tour-anonymous {
  border: 1px solid #428bca;
  &.top > .arrow {
    border-top-color: #428bca;
    &:after {
      border-top-color: white;
    }
  }
  &.right > .arrow {
    border-right-color: #428bca;
    &:after {
      border-right-color: white;
    }
  }
  &.bottom > .arrow {
    border-bottom-color: #428bca;
    &:after {
      border-bottom-color: white;
    }
  }

  &.left > .arrow {
    border-left-color: #428bca;
    &:after {
      border-left-color: white;
    }
  }

}

.popover-title, .popover {
  background-color: #ffffff;
  color: black;
}

.popover-title {
  background: #3d4046;
  color: white;
  font-weight: bold;
}

.popover-content {
  background: beige;
}

.popover-navigation{
  background: beige;
}

.panel[id^='main-dashboard-'] .nav-icon {
  opacity: 1;
  transition: all 0.5s ease;
  &.no-view {
    opacity: 0;
    transition: all 0.3s ease;
  }
}

.navbar-brand {
  padding-right: 7px;
}

.exchange i {
  font-size: 42px;
  padding-top: 30px;
}

#integration_list {
  margin-bottom: 35px;
  overflow: auto;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

footer {
  background: #3d4046;
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;

  @media(max-width: 991px) {
    padding-top: 30px;
  }

  .menu {

    @media(max-width: 767px) {
      margin-top: 10px;
      margin-bottom: 35px;
    }

    h3 {
      margin-top: 0;
      color: #ea7400;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 14px;
      font-weight: 600;
      @media(max-width: 767px) {
        text-align: center;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 30px;

      @media(max-width: 479px) {
        margin-left: 30%;
      }
      @media(max-width: 767px) and (min-width: 480px) {
        margin-left: 20%;
      }

      li {
        @media(min-width: 768px) {
          display: block;
          margin-right: 0;
        }
        margin-bottom: 9px;

        a {
          color: white;
          display: inline-block;
          font-weight: 500;
          font-size: 13px;
          @include transition(all 0.2s linear);

          i {
            margin-right: 10px;
            width: 18px;
            font-size: 18px;
            text-align: center;
          }

          &:hover {
            color: #1FBEE7;
            text-decoration: none;
          }

          @media(max-width: 991px) {
            padding: 0;
          }
        }

        .hiring {

          font-weight: 700;
          letter-spacing: .3px;
          text-transform: uppercase;
          word-spacing: 1.5px;
          font-size: 11px;
          margin-left: 4px;
          padding: 3px 8px;
          border-radius: 4px;
          color: #fff;
          background: #49B7E2;

          &:hover {
            color: #fff;
            background: #0E82AF;
          }
        }
      }
    }
  }

  .newsletter {
    text-align: right;

    @media(max-width: 767px) {
      text-align: center;
      margin-top: 40px;
    }

    .signup {
      margin-bottom: 40px;

      p {
        font-size: 13px;
        color: #A1AAB6;
        width: 90%;
        float: right;
        text-align: left;
        line-height: 20px;

        @media(max-width: 767px) {
          float: none;
          text-align: center;
          width: 100%;
        }
      }

      form {
        float: right;
        width: 90%;
        position: relative;

        @media(max-width: 767px) {
          float: none;
          width: 100%;
        }

        input[type="text"] {
          font-size: 13px;

          @include placeholder {
            font-size: 13px;
            line-height: 17px;
          }
        }

        input[type="submit"] {
          border: 0;
          background: #84B0E2;
          color: #FFF;
          border-radius: 3px;
          padding: 6px 10px;
          position: absolute;
          top: 5px;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.28);
          right: 5px;
          font-size: 13px;

          @include transition(all .2s linear);

          &:hover {
            background: #6284AC;
          }
        }
      }
    }

    a {
      border: 0;
      text-decoration: none;
      opacity: 1;
      filter: alpha(opacity=100);
      margin-left: 15px;
      position: relative;
      top: -10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      &:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
      }
    }
  }

  .credits {
    margin-top: 30px;

    .col-md-12 {
      padding-top: 20px;
      font-size: 13px;
      text-align: center;
      color: #A1AAB6;
    }
  }
}

ul.nav.navbar-nav.movil_links {
  @media(min-width: 768px) {
    display: none;
  }
}

.xs-menu {
  background: #f8f8f8;

  .navbar-nav {
    > li > a {
      i {
        color: black;
        margin-right: 18px;

      }
    }
    .caret {
      color: black;
      float: right;
      margin-top: 9px;
      display: inline-block;
    }
    .open {
      .dropdown-menu > li > a {
        padding: 7px 48px !important;
        color: #0E82AF;
        &:hover {
          color: black;
        }
        i {
          display: none;
        }
      }
    }
  }
}

button#model-nav-xs {
  color: #ddd;
  line-height: 1;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
}

#open_platform {

  h4 {
    color: #ea7400;
    font-weight: bold;
  }
  h3 {
    margin-bottom: 45px;
  }
  .open-plat-icon {
    margin: 15px 0;
    color: #ea7400;
  }
}

.navbar-default {
  border: none;
}

#sidebar-wrapper {
  .panel-collapse {
    background: #3d4046;
  }
  .panel-default > .panel-heading {

    background-color: #3d4046;

  }
}

/* 1. New Grid System */
.col-sms-1, .col-sms-2, .col-sms-3, .col-sms-4, .col-sms-5, .col-sms-6, .col-sms-7, .col-sms-8, .col-sms-9, .col-sms-10, .col-sms-11, .col-sms-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .col-sms-1, .col-sms-2, .col-sms-3, .col-sms-4, .col-sms-5, .col-sms-6, .col-sms-7, .col-sms-8, .col-sms-9, .col-sms-10, .col-sms-11, .col-sms-12 {
    float: left;
  }

  .col-sms-12 {
    width: 100%;
  }

  .col-sms-11 {
    width: 91.66666667%;
  }

  .col-sms-10 {
    width: 83.33333333%;
  }

  .col-sms-9 {
    width: 75%;
  }

  .col-sms-8 {
    width: 66.66666667%;
  }

  .col-sms-7 {
    width: 58.33333333%;
  }

  .col-sms-6 {
    width: 50%;
  }

  .col-sms-5 {
    width: 41.66666667%;
  }

  .col-sms-4 {
    width: 33.33333333%;
  }

  .col-sms-3 {
    width: 25%;
  }

  .col-sms-2 {
    width: 16.66666667%;
  }

  .col-sms-1 {
    width: 8.33333333%;
  }

  .col-sms-pull-12 {
    right: 100%;
  }

  .col-sms-pull-11 {
    right: 91.66666667%;
  }

  .col-sms-pull-10 {
    right: 83.33333333%;
  }

  .col-sms-pull-9 {
    right: 75%;
  }

  .col-sms-pull-8 {
    right: 66.66666667%;
  }

  .col-sms-pull-7 {
    right: 58.33333333%;
  }

  .col-sms-pull-6 {
    right: 50%;
  }

  .col-sms-pull-5 {
    right: 41.66666667%;
  }

  .col-sms-pull-4 {
    right: 33.33333333%;
  }

  .col-sms-pull-3 {
    right: 25%;
  }

  .col-sms-pull-2 {
    right: 16.66666667%;
  }

  .col-sms-pull-1 {
    right: 8.33333333%;
  }

  .col-sms-pull-0 {
    right: 0%;
  }

  .col-sms-push-12 {
    left: 100%;
  }

  .col-sms-push-11 {
    left: 91.66666667%;
  }

  .col-sms-push-10 {
    left: 83.33333333%;
  }

  .col-sms-push-9 {
    left: 75%;
  }

  .col-sms-push-8 {
    left: 66.66666667%;
  }

  .col-sms-push-7 {
    left: 58.33333333%;
  }

  .col-sms-push-6 {
    left: 50%;
  }

  .col-sms-push-5 {
    left: 41.66666667%;
  }

  .col-sms-push-4 {
    left: 33.33333333%;
  }

  .col-sms-push-3 {
    left: 25%;
  }

  .col-sms-push-2 {
    left: 16.66666667%;
  }

  .col-sms-push-1 {
    left: 8.33333333%;
  }

  .col-sms-push-0 {
    left: 0%;
  }

  .col-sms-offset-12 {
    margin-left: 100%;
  }

  .col-sms-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sms-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sms-offset-9 {
    margin-left: 75%;
  }

  .col-sms-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sms-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sms-offset-6 {
    margin-left: 50%;
  }

  .col-sms-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sms-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sms-offset-3 {
    margin-left: 25%;
  }

  .col-sms-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sms-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sms-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 480px) and(max-width: 767px) {
  .visible-sms {
    display: block !important;
  }
}

@media (min-width: 320px) {
  /* add clearfix in the grid system */
  .row.add-clearfix > .col-xs-6:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 480px) {
  /* add clearfix in the grid system */
  .row.add-clearfix > .col-sms-2:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sms-2:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sms-2:nth-child(4n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sms-2:nth-child(6n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-sms-3:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sms-3:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sms-3:nth-child(4n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-sms-4:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sms-4:nth-child(3n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-sms-6:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 768px) {
  /* add clearfix in the grid system */
  .row.add-clearfix > .col-sm-2:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sm-2:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sm-2:nth-child(4n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sm-2:nth-child(6n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-sm-3:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sm-3:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sm-3:nth-child(4n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-sm-4:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-sm-4:nth-child(3n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-sm-6:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }

  .visible-mobile {
    display: none !important;
  }

  /* add clearfix in the grid system */
  .row.add-clearfix > .col-md-2:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-md-2:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-md-2:nth-child(4n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-md-2:nth-child(6n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-md-3:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-md-3:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-md-3:nth-child(4n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-md-4:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-md-4:nth-child(3n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-md-6:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* add clearfix in the grid system */
  .row.add-clearfix > .col-lg-2:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-lg-2:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-lg-2:nth-child(4n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-lg-2:nth-child(6n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-lg-3:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-lg-3:nth-child(3n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-lg-3:nth-child(4n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-lg-4:nth-child(2n+1) {
    clear: none;
  }
  .row.add-clearfix > .col-lg-4:nth-child(3n+1) {
    clear: both;
  }

  .row.add-clearfix > .col-lg-6:nth-child(2n+1) {
    clear: both;
  }
}

.toggle-boolean {
  margin: 0 7px;
  cursor: pointer;
}

.xs-menu .navbar-nav > li > a {
  font-size: 18px;
  i {
    color: #f89427;
  }
}

a#show_tenant_menu {
  position: relative;
  top: -2px;
  padding-top: 12px;
  padding-bottom: 12px;
  span#tenant_name {
    width: 83px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 4px;
  }
}

.diff {
  overflow: auto;
  margin: 0 -15px;
}

.diff ul {
  background: #fff;
  overflow: auto;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  li.unchanged span:before {
    content: '  ';
  }
}

.diff del, .diff ins {
  display: block;
  text-decoration: none;
}

.diff li {
  padding: 5px 15px;
  margin: 0;
}

.diff li.ins {
  background: #dfd;
  color: #080
}

.diff li.del {
  background: #fee;
  color: #b00
}

.diff li:hover {
  background: #ffc
}

.diff ins {
  &:before {
    content: '+ ';
    color: black;
  }
}

.diff del {
  &:before {
    content: '- ';
    color: black;
  }
}

/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span {
  white-space: pre-wrap;
  font-family: courier;
  display: inline-block;
}

.diff del strong {
  font-weight: normal;
  background: #fcc;
}

.diff ins strong {
  font-weight: normal;
  background: #9f9;
}

.diff li.diff-comment {
  display: none;
}

.diff li.diff-block-info {
  background: none repeat scroll 0 0 gray;
}

.panel-trace {
  .panel-heading {
    padding: 5px 10px;
    background-color: rgb(250, 251, 252);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    a {
      text-decoration: none;

      .panel-title {
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        color: rgb(36, 41, 46);
        white-space: nowrap;

        &:after {
          content: '\f106';
          float: right;
          font-family: FontAwesome;
        }
      }
      &.collapsed {
        .panel-title {
          &:after {
            content: '\f107';
            float: right;
            font-family: FontAwesome;
          }
        }
      }
    }
  }
  .panel-body {
    .nav-tabs > li {
      width: 150px;
      > a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &.active {
        width: auto !important;
      }
    }
    .tab-content > .active {
      display: block;
      padding: 0 15px;
    }
  }

}

.trace {
  .total-changes {
    margin-right: 7px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #24292e;
    .additions {
      color: #2cbe4e;
      font-weight: bold;
      font-size: 15px;
    }
    .deletions {
      color: #cb2431;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .trace-info {
    border: 1px solid rgb(200, 225, 255);
    border-radius: 3px 3px 0px 0px;
    overflow: auto;
    margin-bottom: 25px;
  }
  .trace-header {
    overflow: auto;
    background: rgb(241, 248, 255);
    padding: 5px 10px;
    font-size: 13px;
    line-height: 23px;
    color: rgb(88, 96, 105);
    border-bottom: solid 1px #c8e1ff;
    img {
      display: inline-block;
      overflow: hidden;
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
      height: 20px;
      margin-right: 7px;
      position: relative;
      top: -2px;
    }
    .action {
      span {
        text-transform: capitalize;
      }
    }
    .date {

    }
    label {
      margin-bottom: 0;
    }
  }
  .trace-desc {
    padding: 8px;
    overflow: auto;
    font-size: 13px;
    line-height: 28px;
    color: rgb(88, 96, 105);
    .pager {
      margin: 0;
      li > a, li > span {
        background-color: transparent;
        border: 1px solid #ddd;
        color: #555;
      }
    }
  }

}

.diffstat {
  font-size: 12px;
  font-weight: 600;
  color: #586069;
  white-space: nowrap;
  cursor: default;
  letter-spacing: -4px;
  margin-right: 5px;
}

.block-diff-deleted, .block-diff-added, .block-diff-neutral {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 1px;
}

.block-diff-added {
  background-color: #2cbe4e;
}

.block-diff-deleted {
  background-color: #cb2431;
}

.block-diff-neutral {
  background-color: #d1d5da;
}

li.wrapped {
  background: #f1f8ff;
  .expand_collapse {
    cursor: pointer;
    color: black;
    &:before {
      font-family: FontAwesome;
      content: '\f065';
    }
  }
  span.count-lines {
    font-size: 12px;
    color: gray;
    display: initial;
    margin-left: 7px;
  }
  span.first_line {
    display: none;
  }
  ul {
    display: block;
    height: 0;
  }
  &.open {
    background: transparent;
    padding-bottom: 0;
    position: relative;
    span.count-lines {
      display: none;
    }
    span.first_line {
      display: inline-block;
      padding-left: 12px;
    }
    .expand_collapse {
      position: absolute;
      left: 8px;
      &:before {
        font-family: FontAwesome;
        content: '\f066';
      }
    }
    ul {
      display: block;
      height: auto;
      padding: 0;
      margin: 0 0 0 -15px;
    }
    &:hover {
      background: transparent;
    }
  }
}

ul[type="ordered"] {
  counter-reset: ordered;
}

/* defaults to 0 */
ul[type="ordered"] li {
  display: block;
}

ul[type="ordered"] {
  li {
    &.wrapped:before {
      background: #dbedff;
    }
    &.ins:before {
      background: #cfc;
    }
    &.del:before {
      background: #ffdbdb;
    }
    &:before {
      counter-increment: ordered;
      content: counter(ordered);
      display: inline-block;
      padding: 5px 8px;
      background: #fafbfc;
      margin: -5px 8px -5px -15px;
      width: 70px;
      text-align: center;
      line-height: 20px;
    }
  }
}

#trace-object-info {
  overflow: visible;
  padding: 8px 15px;
  min-height: 38px;
  background: #fafbfc;
  margin-bottom: 15px;
  .trace-model {
    float: left;
  }
  .trace_object {
    text-transform: capitalize;
    float: left;
    margin: 0 15px;
  }
  .object-id {
    margin: 4px 15px 0;
    font-weight: bold;
  }
  #actions-menu-list {
    overflow: visible;
    width: 40px;
    float: left;
    position: relative;
    #links.options-menu {
      position: relative;
      overflow: visible;
      left: 0;
      display: inline;
      .dropdown-menu {
        right: auto !important;
        left: -21px !important;
        margin-top: 0 !important;
        border-top-left-radius: 0;
        top: 26px;
      }
    }
  }
}

.widget {
  .widget-header h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin: 0;
    line-height: 41px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .widget-content {
    padding: 0;
  }
  &.widget-dashboard {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border: solid 1px lightgrey;

    .widget-header h3 {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 1.1em;
      margin: 0;
      line-height: 41px;
      float: left;
    }
    .widget-content {
      padding: 20px 10px;
      .progress {
        margin-bottom: 20px;
        float: left;
        width: 100%;
      }
    }
  }

}

#subdomain-related-menu {
  width: 100%;
  overflow: hidden;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li.no-childrens {
      border: none;
      border-radius: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      a {
        color: #555;
        text-decoration: none;
        display: block;
        padding: 13px 0 13px 15px;
        font-size: 14px;
        border-bottom: solid 1px #f9f9f9;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
          background: #eeeeee;
          color: #1D92AF;
          text-decoration: none;
        }
      }
      span.with_icon {
        padding: 0 !important;
        width: auto;
        margin-right: 10px;
      }
    }
  }
  .nav-stacked > li {
    border: none;
  }
  .panel-default {
    border: none;
    background: none;
    border-bottom: none;
    margin-bottom: 0;
    .panel-heading {
      background: none;
      border: none;
      a {
        color: #555;
        padding: 13px 0 13px 15px;
        font-size: 14px;
        border-bottom: solid 1px #f9f9f9;
        white-space: nowrap;
        overflow: hidden;

        span.nav-caption {
          margin-left: 0px;
          font-size: 0.9em;
          transition: all 0.3s ease-in-out;
          width: auto;
          opacity: 1;
          white-space: nowrap;
        }
        span.nav-caret {
          float: right;
          display: inline-block;
          margin-right: 15px;
          &:after {
            font-family: FontAwesome;
            content: '\f106';
          }
        }
        span.nav-icon {
          margin-right: 10px;
        }
        &:hover {
          background: #eeeeee;
          color: #1D92AF;
          text-decoration: none;
        }
        &.collapsed {
          span.nav-caret {
            &:after {
              font-family: FontAwesome;
              content: '\f107';
            }
          }
        }
      }
    }
    .panel-collapse {
      li a, .panel-default .panel-heading a {
        background: transparent;
        color: #555;
        padding: 13px 0 13px 36px;
        font-size: 14px;
        border-bottom: solid 1px #f9f9f9;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .nav-caption {
          margin-left: 0px;
          font-size: 0.9em;
          display: inline-block;
          white-space: nowrap;
        }
        &:hover {
          background: #eeeeee;
          color: #1D92AF;
          text-decoration: none;
        }
      }
      .panel-collapse {
        li a, .panel-default .panel-heading a {
          background: transparent;
          color: #555;
          padding: 13px 0 13px 65px;
          font-size: 14px;
          border-bottom: solid 1px #f9f9f9;
          .nav-caption {
            margin-left: 0px;
            font-size: 0.9em;
            display: inline-block;
            white-space: nowrap;
          }
          &:hover {
            background: #eeeeee;
            color: #1D92AF;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.alert {
  margin-top: 15px;
}

span.nav-amount {
  float: right;
  margin-right: 15px;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #46b0cf;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  &.active {
    padding: 3px 7px;
    background-color: #46b0cf;
    color: #fff;
  }
}

.breadcrumb {
  padding: 10px 15px;
  padding-bottom: 11px;
  border-radius: 0;
  border-bottom: solid 1px lightgray;
  background: #f9f9f9;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  height: 43px;
  border-top: solid 2px white;
}

.sidebar-scroll {
  border-top: solid 1px white;
  height: calc(100vh - 91px);
  .main-nav {
    height: calc(100vh - 197px);
    overflow-y: auto;
  }

}

.ui-widget-content {
  border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(238, 238, 238, 0.19);
}

.label {
  font-size: 85%;
}

#loading {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100000
}

.root_links > li {
  > a {
    padding-top: 19px;
    padding-bottom: 18px;
    text-align: center;
    display: inline-block;
  }
}

#remove_filter {
  i {
    display: block;
    line-height: 20px;
  }
}

.left-sidebar.minified {
  .social-links-at-menu {
    padding: 0;
    span {
      display: none;
    }
  }
}

.social-links-at-menu {
  overflow: auto;
  padding: 25px 0;
  bottom: 0;
  text-align: center;
  color: white;

  &.absolute {
    position: absolute;
  }
  .git-buttons {
    display: none;
    @media(min-width: 768px) {
      display: block;
    }
    margin: auto;
    width: 80%;

  }

}

.navbar-toggle .icon-bar {
  background: white;
}

@media(min-width: 768px) and (max-width: 991px) {
  .collapsed-sm {
    overflow: auto;
    display: inline-block;
    float: right;
    height: 0;
    transition: all 0.3s ease;
    &.open {
      height: 50px;
      overflow: visible;
      border-top: solid 1px white;
      width: 100%;
    }
  }
}

button#toogle-submenu-header {
  &:before {
    font-family: FontAwesome;
    content: '\f078';
  }
  padding: 8px 0 0;
  &.open {
    &:before {
      content: '\f077';
    }
  }
}

.fixed-top-area {
  position: absolute;
  width: 100%;
  z-index: 1029;
}

.scrollable-container {
  margin-top: 60px;
}

.filtering-select {
  z-index: 0;
}

.json-editor-form {
  height: calc(100vh - 240px);
  .CodeMirror {
    height: initial;
  }
  .form-group.form-actions {
    padding-top: 15px;
  }
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #c1d6dc;
  border-color: #d7e4e8;
  color: white;
}

.tenants-list {
  a {
    max-width: 125px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
}

.dashboard {
  .monitor .options-menu.open .dropdown-menu {
    .actions {
      padding: 15px 15px 0;
    }
  }
  .tenants-list {
    li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
      max-width: 160px;;
      &:hover, &:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
      }
    }

  }
}
